nav img {
    max-width:64px ;
    max-height:64px ;
    object-fit: scale-down;
    border-radius: 50%; }

main {
    text-align: center; }
#codes {
    width: 98%;
    min-height: 280px;
    border-radius: 16px ;
    border: 3px solid rgb(98, 255, 0);}
#buttons {
    display: flex;
    justify-content: space-evenly;}
#buttons button {
    width: 47%;
    border-radius: 15px;
    border: 0px; }
#delet {
 background-color: red;
 color: aliceblue; }
#run {
  background-color: chartreuse;}
#idResult {
    padding:10px ;
    margin: 8px 0px ;
    border: 2px solid rgb(98, 255, 0) ;
    font-weight: bold ; }
#result {
    max-width: 100% !important; }

    